# BLOQUEAR CARPETAS DE MÓVIL (Esto quita ~8GB de peso)
android/
ios/
windows/
linux/
macos/
web/

# BLOQUEAR CACHÉ Y BUILDS
build/
.dart_tool/
.gradle/
.idea/
.vscode/

# BLOQUEAR BASURA DE PYTHON
**/__pycache__/
**/venv/
.env