# Ignorar las carpetas pesadas de Flutter y copias
inka_flutter/
inka_final/

# Ignorar archivos sueltos que no necesita la API
inka.sql
.vscode/
.git/

# Por si acaso hay restos de compilación dentro de alguna subcarpeta
**/build/
**/.gradle/
**/.dart_tool/
**/.env
**/venv/
**/__pycache__/